body {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .iconright {
    width: min-content;
  }
  .topic {
    position: relative;
    margin-left: 20% !important;
  }
  .left {
    font-size: 10px !important;
    padding: 0px !important;
  }
  .mobileview {
    width: 100% !important;
  }
  .platter {
    width: 80%;
  }
  .special {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .background {
    background-color: #88ad4d;
    max-width: 90vw !important;
    height: 227vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10% !important;
  }
  .container {
    background-color: #201c1b;
    padding: 20px;
    width: 80%;
    height: 95% !important;
  }
  .right {
    margin-top: 0% !important;
    font-size: 10px !important;
    width: 50%;
    margin-left: -24px;
  }
}

.background {
  background-color: #88ad4d;
  max-width: 70vw;
  height: 308vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}
.email {
  font-size: larger;
  margin-left: 35%;
  font-weight: bold;
}
.container {
  background-color: #f1e6d4;
  padding: 20px;
  width: 80%;
  height: 85%;
}

.menu {
  max-width: 800px;
  margin: 0 auto;
}

.special {
  display: flex;
}

.left {
  width: 50%;
  padding: 20px;
}
.platter {
  padding-top: 60px;
}
.topicright {
  position: relative;
  padding-left: 48px;
}
.pricetag {
  margin-left: 0px;
}

.right {
  width: 50%;
  margin-top: 2.5%;
}

.submenu {
  font-size: 30px;
}

h2 {
  font-size: 40px;
  margin-top: 45px;
  color: #76ae43;
  margin-left: 10%;
}
.iconright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3,
h4 {
  margin-left: 50px;
  margin-bottom: 5px;
  color: black;
}
.topic {
  position: relative;
  margin-left: 36%;
}
.item {
  display: flex;
  align-items: baseline;
}
p,
li {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
